# Please enter the credentials from Special:BotPasswords
# DO NOT share this file for security reasons.
# For more information, see https://github.com/AlanYe-Dev/mediawiki-file-import-utility#readme
bot:
  username: 
  password: 